<%= start_question @question, :is_display => true %>
   <%= jipe_editor(@question, "caption", :class => "Question", :rows => 1, :editing => @editing) %>
<%= end_question @question, :is_display => true %>
