<h1>Cuestionario cerrado</h1>

<p>El cuestionario <i><%=@questionnaire.title%></i> ha sido cerrado por el administrador.</p>
	
<p>Si crees que es un error, por favor, contacta con la persona que le ofreció la url para completar el cuestionario.</p>