
<li class="questionnairesummary">  
  <div id="questionnairesummary_<%=questionnaire.id%>">
    <table style="width: 100%;">
      <td style="width: 70%; overflow: hidden;">
        	<b><%= link_to questionnaire.title, questionnaire %></b>
      </td>
      <td style="width: 30%; overflow: hidden;">
      </td>
    </table>
  </div>
</li>